DADOSBR_CACHE_DIR=.dadosbr/cache
DADOSBR_CACHE_TTL_SECONDS=3600
DADOSBR_HTTP_CACHE_MAX_INLINE_BYTES=1048576
DADOSBR_HTTP_CACHE_MAX_BODY_BYTES=104857600
DADOSBR_DISABLE_HTTP_CACHE=0
DADOSBR_DISABLE_STALE_CACHE=0
DADOSBR_STRICT_FRESH=0
DADOSBR_MAX_STALE_SECONDS=604800
DADOSBR_HTTP_RETRIES=2
DADOSBR_HTTP_RETRY_BACKOFF_SECONDS=0.25
DADOSBR_CA_BUNDLE=
DADOSBR_CSV_FIELD_SIZE_LIMIT=104857600
DADOSBR_ALLOW_B3_DOWNLOAD=0
DADOSBR_B3_COTAHIST_FILE=
DADOSBR_ENABLE_LOCAL_FILE_ENDPOINTS=0
DADOSBR_LOCAL_DATA_DIR=.dadosbr
DADOSBR_MAX_UPLOAD_BYTES=52428800
DADOSBR_ENABLE_ADMIN_HTTP=0
DADOSBR_ENABLE_ADMIN_MCP=0
DADOSBR_ADMIN_TOKEN=
DADOSBR_CVM_COMPANY_REPORT_TIMEOUT_SECONDS=10
DADOSBR_YFINANCE_TIMEOUT_SECONDS=30
DADOSBR_YFINANCE_HISTORY_PERIOD=5y
DADOSBR_YFINANCE_DIVIDEND_PERIOD=2y
DADOSBR_YFINANCE_DIVIDEND_CACHE_TTL_SECONDS=86400
DADOSBR_YFINANCE_ACTION_PERIOD=2y
DADOSBR_YFINANCE_ACTION_CACHE_TTL_SECONDS=86400
DADOSBR_RECEITA_CNPJ_BASE_URL=https://arquivos.receitafederal.gov.br/dados/cnpj/dados_abertos_cnpj/
DADOSBR_RECEITA_CNPJ_FALLBACK_BASE_URLS=
DADOSBR_TESOURO_PACKAGE_FILE=
DADOSBR_TESOURO_RATES_CSV_FILE=
DADOSBR_COMEX_DATA_DIR=
DADOSBR_COMEX_VERIFY_SSL=1
